.element {
  background-color: #ADD8E6; 
  width: 300px;
  margin: 10px;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.element-img {
  width: 240px;
  height: 240px;
  margin: 10px auto;
}

.element-data {
  text-align: center;
}

.element-name {
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 5px;
}

.element-text {
  font-size: 0.9em;
  padding-bottom: 5px;
}
.element-footer {
  display: flex;
  justify-content: center;
}
